/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*Our style*/

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
	font-family: 'Proxima Nova Regular';

}
.center {
	max-width: 1550px;
	margin: 0 auto;
	width: 90%;

}
header {
	height: 100vh;
	width: 100%;
	background-image: url('./images/football.png');
	background-size: cover;
	max-height: 960px;
}
header .logo {
	margin-top: 55px;
	margin-left: 50px;
}

header .right_text {
	color: #ffffff;
	font-size: 14px;
	font-family: 'Proxima Nova Light';
	text-transform: uppercase;
	float: right;
	margin-top: 65px;
	margin-right: 40px;
}
header h1 {
	font-size: 90px;
	font-family: 'Proxima Nova Bold';
	color: #ffffff;
	margin-left: 50px;
	margin-top: 12%;
	}
header h1 .one {
	position: relative;
	z-index: 3;
}

header h1 .two {
	float: right;
	position: relative;
	z-index: 1;
	margin-right: 40px;
}

header .menu {
	clear: both;
	float: right;
	margin-right: 40px;
}

header .menu li {
	display: inline-block;
}

header .menu li a {
	text-decoration: none;
	color: #9071e9;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 0 25px;
}

header .buttons {
	clear: both;
	text-align: center;
	margin-top: 30vh;
}

header .buttons a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	width: 220px;
	font-weight: 300;
	font-family: 'Proxima Nova light';
	padding: 5px 65px 20px 45px;
	background-color: #5e42b0;
	border-radius: 40px;
	text-transform: uppercase;
}

header .buttons a i {
	font-size: 37px;
	margin-right: 20px;
	position: relative;
	top: 15px;
}

header .buttons a span {
	font-family: 'Proxima Nova Semibold';
}

header .buttons a:first-child{
	margin-right: 50px;
}
header .buttons .gp {
	margin-left: 90px;
}
header .buttons .as {
	margin-left: -11px;
}

header .buttons a:hover {
	color: #5e42b0;
	background-color: #ffffff;
}

header .menu li a:hover {
	color: #ffffff;
}

header .lines{
	background-color: #5e42b0;
	height: 405px;
	width: 7px;
	transform: rotate(45deg);
	position: relative;
	top: -505px;
	left: 575px;
	z-index: 2;
}
.atlet {
	width: 100%;
	max-height: 730px;
	max-width: 1920px;
	position: relative;
}
.atlet .runner {
	display: block;
	float: left;
	width: 50%;
	height: 100vh;
	max-height: 730px;
	background-image: url(./images/atlet.png);
	background-size: cover;
	background-position: right;
	max-height: 730px;
	
}
.fon {
	display: block;
	float: left;
	width: 50%;
	height: 100vh;
	max-height: 730px;
}

.text_atlet {
	margin-left: 130px;
	margin-top: 35vh;
	width: 70%;

}

.text_atlet h2 {
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
	font-size: 60px;
	color: #e6e6e6;
	margin-bottom: 11vh;
	margin-top: -10vh;
}

.text_atlet p {
	font-family: 'Proxima Nova Regular';
	font-size: 20px;
	margin-bottom: 13vh;
}
.text_atlet2 {
	margin-left: 130px;
	margin-top: 35vh;
	width: 70%;

}

.text_atlet2 h2 {
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
	font-size: 60px;
	color: #e6e6e6;
	margin-bottom: 15%;
	margin-top: -15%;
    margin-left: 25%;
}

.text_atlet2 p {
	font-family: 'Proxima Nova Regular';
	font-size: 20px;
	margin-bottom: 11vh;
	margin-left: 25%;
}
.tire1 {
	width: 22px;
	height: 5px;
	background-color: #5e42b0;
	border-radius: 3px;
}
.tire2 {
	width: 22px;
	height: 5px;
	background-color: #5e42b0;
	border-radius: 3px;
	margin-left: 25%;
}
.square {
	clear: both;
	width: 170px;
	height: 155px;
	background-color: #5e42b0;
	text-align: center;
	position: absolute;
	top: 20vh;
	left: 0;
	right: 0;
	margin: auto;
}
.square h3 {
	color: #f5f6f7;
	font-size: 24px;
	font-family: 'Proxima Nova Bold';
	margin: 63px 0 10px 0;
}
.square .tire {
	background-color: #8f7bc8;
	margin: 0 auto;
}
.op {
	clear: both;
}
.comment {
		width: 100%;
		max-height: 730px;
		position: relative;
}
.negr {
		display: block;
		float: left;
		width: 50%;
		height: 100vh;
		max-height: 730px;
		background-image: url(./images/negr.png);
		background-size: cover;
		background-position: center;
		max-height: 730px;
}
.comment .kv {
	clear: both;
	width: 170px;
	height: 155px;
	background-color: #5e42b0;
	text-align: center;
	position: absolute;
}

.team {
	width: 100%;
	max-height: 730px;
	position: relative;
}
.team .girl {
	display: block;
	float: left;
	width: 50%;
	height: 100vh;
	max-height: 730px;
	background-image: url(./images/team.png);
	background-size: cover;
	background-position: right;
	max-height: 730px;
	
}
.container2 .block1 h2{
	color: #e7e7e7;
	font-size: 90px;
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
	margin-top: 114px;
	margin-bottom: 95px;
}

.container2 img{
	float: left;
	margin-left: 9%;
	margin-top: -70px;
}

.container2 .text_center{
	color: #c1c1c1;
	font-size: 36px;
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
	margin-bottom: 30px;
}

.container2 .text_center span{
	font-size: 18px;
	border-bottom: 5px solid #5e42b0;
	color: #000000;
	position: relative;
	top: -10px;
}
.container2 .text_center .white{
	font-size: 18px;
	border-bottom: 5px solid #ffffff;
	color: #000000;
	position: relative;
	top: -10px;
}

.container2 .text_bottom{
	font-size: 20px;
	color: #000000;
	padding-bottom: 60px;
}
.container2 .text_bottom1{
	font-size: 20px;
	color: #ffffff;
	padding-bottom: 60px;
}

.container2 .block2{
	background-color: #f6f4fa;
}

.container2 .block3{
	background-color: #5e42b0;
	height: 251px;
}

.container2 .block2 .text_center, .container2 .block3 .text_center{
	padding-top: 65px;
}


.container3 .block1 h2{
	color: #e7e7e7;
	font-size: 90px;
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
	margin-top: 114px;
	margin-bottom: 95px;
	margin-left: 7%;
}

.container3 img{
	float: right;
	margin-top: -147px;
	margin-left: -20vh;
}

.container3 .text_center{
	color: #c1c1c1;
	font-size: 36px;
	font-family: 'Proxima Nova Bold';
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-left: 7%;

}

.container3 .text_center span{
	font-size: 20px;
	border-bottom: 5px solid #5e42b0;
	color: #000000;
	position: relative;
	top: -10px;
}
.container3 .block3 .center .bottom_p{
	padding-top: 70px;
}
.container3 .text_center .white{
	font-size: 20px;
	border-bottom: 5px solid #ffffff;
	color: #5e42b0;
	position: relative;
	top: -10px;
}

.container3 .text_bottom{
	font-size: 20px;
	color: #000000;
	padding-bottom: 60px;
	margin-left: 13vh;
}
.container3 .text_bottom1{
	font-size: 20px;
	color: #ffffff;
	padding-bottom: 60px;
	margin-left: 13vh;
}

.container3 .block2{
	background-color: #f6f4fa;
}

.container3 .block3{
	background-color: #0a0e34;
	height: 251px;
}

.container3 .block2 .text_center, .container2 .block3 .text_center{
	padding-top: 65px;
}

.seto {
	height: 100vh;
	width: 100%;
	background-image: url(./images/photo.jpg);
	background-size: cover;
	max-height: 960px;
	max-width: 1920px;
}

.seto .center h1 {
	font-size: 90px;
	font-family: 'Proxima Nova Bold';
	color: #ffffff;
	margin-top: -130px;
	margin-left: 37%;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}

.seto .center p{
	font-family: 'Proxima Nova Bold';
	color: #a496ca;
	font-size: 34px;
	margin-top: 0;
	text-transform: uppercase;
	margin-left: 37%;
	margin-top: -10px;
	position: relative;
	z-index: 2;
}
.seto .center .lines{
	background-color: #5e42b0;
	height: 405px;
	width: 7px;
	transform: rotate(45deg);
	position: relative;
	top: -270px;
	left: 1055px;
	z-index: 1;
}
.seto .center .lines2{
	background-color: #5e42b0;
	height: 202px;
	width: 7px;
	transform: rotate(45deg);
	position: relative;
	top: -556px;
	left: 646px;
	z-index: 1;
}
.seto .buttons {
	clear: both;
	text-align: center;
	margin-top: -400px;
}

.seto .buttons a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	width: 220px;
	font-weight: 300;
	font-family: 'Proxima Nova light';
	padding: 5px 65px 20px 45px;
	background-color: #5e42b0;
	border-radius: 40px;
	text-transform: uppercase;
}

.seto .buttons a i {
	font-size: 36px;
	margin-right: 20px;
	position: relative;
	top: 15px;
}

.seto .buttons a span {
	font-family: 'Proxima Nova Semibold';
}

.seto .buttons a:first-child{
	margin-right: 50px;
}
.seto .buttons .gp {
	margin-left: 90px;
}
.seto .buttons .as {
	margin-left: -11px;
}

.seto .buttons a:hover {
	color: #5e42b0;
	background-color: #ffffff;
}
.seto .logos{
	margin-top: 230px;
	margin-left: 26.3%;
}

.end{
	background-color: #0a1133;
	width: 100%;
	height: 170px;
	opacity: 0.7;
	margin-top: -170px;
	display: flex;
	flex-direction: row;
	align-items: center;
	
}
footer .logo {
	margin-left: 230px;
	height: 30px;
}
.end .right_text {
	color: #ffffff;
	font-size: 14px;
	font-family: 'Proxima Nova Regular';
	text-transform: uppercase;
	float: right;
	margin-right: 230px;
}
.end .icons{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}
.end .icons i{
	color: white;
	margin: 15px;
	height: 30px;

}
@media(min-height: 960px){
	header h1{
		margin-top: 305px;
	}
	header .buttons{
		margin-top: 220px;
	}
}
@media(max-width: 960px){
	.container2 .block3 .text_center {
		padding-top: 13px;
		margin-bottom: 20px;
	}

	header{
		height: 80vh;
	}
	.container2 .text_center span {
		font-size: 15px;
	}
	.container2 .text_center {
		font-size: 28px;
	}
	.container2 .text_bottom1{
		font-size: 16px;
	}
	.container2 .text_bottom{
		font-size: 16px;
	}
	.container3 .text_center span {
		font-size: 15px;
	}
	.container3 .text_center {
		font-size: 28px;
	}
	.container3 .text_bottom1{
		font-size: 16px;
	}
	.container3 .text_bottom{
		font-size: 16px;
	}
	.atlet .runner{
		height: 50vh;
	}
	.negr{
		height: 50vh;
	}
	.team .girl{
		height: 50vh;
	}
	.fon{
		height: 50vh;
	}
	.square{
		width: 130px;
		height: 130px;
		font-size: 20px;
		top: 14vh;
	}
	.square h3{
		font-size: 24px;
		margin: 53px 0 10px 0;
	}
	.text_atlet h2{
		font-size: 40px;
		margin-bottom: 5vh;
		margin-top: -15vh;
	}
	.text_atlet p{
		margin-bottom: 5vh;
	}
	.text_atlet2 h2{
		font-size: 40px;
		margin-bottom: 5vh;
		margin-top: -15vh;
	}
	.text_atlet2 p{
		margin-bottom: 5vh;
	}
}
@media(max-width: 1750px){
	.seto .center h1{
		font-size: 85px;
	}
	.seto .lines{
		height: 350px;
		top: -235px;

	}
	.seto .lines2{
		height: 175px;
		top: -490px;
	}
}
@media(max-width: 1660px){
	.text_atlet2 h2 {
		margin-left: 10%;
		padding-right: 70px;
	}
	.text_atlet2 p {
		margin-left: 10%;
	}
	.tire2 {
		margin-left: 10%;
	}
}

@media(max-width: 1550px){
	.container2 img{
		margin-left: 0;
		width: 45%;
	}
	.container3 img{
		width: 70%;
		margin-left: -30vh;
	}
	.container3 .text_center{
		margin-left: 0;
	}
	.container3 .text_bottom{
		margin-left: 0;
	}
	.container3 .text_bottom1{
		margin-left: 0;
	}
	.container3 .block1 h2 {
		margin-left: 0;
	}
	header h1{
		font-size: 85px;
	}
	header .lines{
		left: 500px;
		height: 350px;
		top: -485px;
	}
	.text_atlet2 h2 {
		margin-left: -10%;
		margin-top: -20%;
	}
	.text_atlet2 p {
		margin-left: -10%;
	}
	.tire2 {
		margin-left: -10%;
	}
	.seto .logos{
		height: 120px;
		margin-left: 20%;
	}
	.seto .center h1{
		font-size: 70px;
		margin-top: -115px;
		margin-left: 30%;
	}
	.seto .center p{
		margin-left: 30%;
	}
	.seto .center .lines{
		top: -240px;
		left: 825px;
		height: 360px;
	}
	.seto .center .lines2{
		top: -500px;
    	left: 480px;
	}
}
@media(max-width: 1450px){
	.container3 .block1 h2 {
		margin-bottom: 50px;
		margin-top: 60px;
	}
	.container3 img{
		margin-top: -40px;
	}
	.container2 img{
		margin-top: -40px;
	}
	.container3 .block2 .text_center{
		padding-top: 0;
	}
	.container3 .block3 .center .bottom_p {
		padding-top: 25px;
	}
	.container3 .block3 {
		height: 165px;
	}
	.container2 .block3 .center .bottom_p {
		padding-top: 25px;
	}
	.container2 .block3 {
		height: 165px;
	}
	.container2 .block2 .text_center{
		padding-top: 0;
	}
	.container2 .block1 h2 {
		margin-bottom: 50px;
		padding-left: 50%;
		margin-top: 70px;
	}
	.container2 .block3 .text_bottom1{
		padding-left: 50%;
	}
	.container2 .block3 .text_center{
		padding-left: 50%;
		padding-top: 30px;
	}
	.container2 .text_bottom{
		padding-left: 50%;
	}
	.container2 .text_center{
		padding-left: 50%;
	}
	.seto .logos{
		margin-top: 150px;
	}
}
@media(max-width: 1250px){
	.container2 .block1 h2{
		font-size: 70px;
	}
	.container3 .block1 h2{
		font-size: 70px;
	}
	.container2 img{
		width: 45%;
	}
	.container3 img{
		width: 60%;
	}
	.container3 .text_bottom{
		padding-right: 50%;
	}
	header h1{
		font-size: 70px;
	}

	header .lines{
		left: 400px;
		height: 300px;
   		 top: -461px;
	}
	header .menu li a{
		padding: 0 10px;
	}
	footer .logo {
		margin-left: 100px;
	}
	.end .right_text {
		margin-right: 100px;
	}
	.seto .logos{
		margin-left: 17%;
	}
	.seto .center .lines{
		top: -220px;
   		left: 770px;
    	height: 320px;
	}
	.seto .center .lines2 {
		top: -470px;
	}
	.text_atlet2 p{
		padding-right: 80px;
	}
}

@media(max-width: 1024px){
	header h1, .container2 .block1 h2, .seto .center h1, .container3 .block1 h2{
		font-size: 56px;
	}
	header .menu li a{
		padding: 0 10px;
	}
	header .lines{
		left: 330px;
    	height: 250px;
    	top: -430px;
	}
	.seto .center .lines{
		top: -170px;
		left: 610px;
		height: 260px
	}
	.seto .center .lines2{
		top: -375px;
    	left: 330px;
		height: 160px;
	}
	.seto .center p{
		font-size: 25px;
	}
	.seto .center h1 {
		margin-top: -95px;
	}
	.seto .buttons {
		margin-top: -300px;
	}
	.seto .logos {
		margin-left: 14%;
	}
	.text_atlet2 h2{
		margin-top: -50%;
	}
}
@media(max-width: 860px){
	.seto .center h1{
		font-size: 46px;
		margin-left: 28%;
		margin-top: -75px;
	}
	.seto .center p{
		font-size: 18px;
		margin-left: 28%;
	}
	.seto .logos{
		height: 85px;
	}
	.seto .center .lines {
		top: -130px;
		left: 480px;
		height: 200px;
	}
	.seto .center .lines2 {
		top: -285px;
		left: 275px;
		height: 120px;
	}
	.seto .buttons{
		margin-top: -170px;
	}
	.text_atlet2 h2{
		margin-left: -25%;
	}
	.text_atlet2 p{
		margin-left: -25%;
	}
	.tire2{
		margin-left: -25%;
	}
	.text_atlet p{
		padding-right: 15px;
	}
	header .lines {
		left: 290px;
    	height: 220px;
    	top: -490px;
	}
	header h1{
		font-size: 46px;
		margin-top: 15%;
	}
	header .buttons a{
		margin: 10px 10%;
	}
	header .buttons{
		margin-top: 20vh;
	}
	header .buttons a:first-child{
		margin: auto;
	}
	.seto .buttons a{
		margin: 10px 10%;
	}
	.seto .buttons a:first-child{
		margin-right: 70px;
	}
	.text_atlet{
		margin-left: 100px;
	}
	.text_atlet2 h2{
		margin-top: -18vh;
	}
	footer .logo{
		margin-left: 40px;
	}
	.end .right_text{
		margin-right: 40px;
	}
	.end .icons i{
		font-size: 20px;
	}
	header .menu{
		margin-right: 17%;
    	margin-top: 12%
	}
}


@media(max-width: 768px){
	header h1, .container2 .block1 h2{
		font-size: 44px;
	}
	header .menu li a{
		padding: 0 5px;
		font-size: 15px;
	}
	header .buttons a{
		display: block;
		margin: 0 auto;
	}
	header .buttons a:first-child{
		margin-right: auto;
		margin-bottom: 20px;
	}
	header .lines{
		left: 265px;
   		height: 190px;
   		top: -540px;
	}
	header .menu{
		text-align: center;
		float: none;
		margin: 23% auto 0 auto;
		}
	header .buttons{
		margin-top: 10vh;
	}
}
@media(max-width: 650px){
	.atlet .fon .val{
		margin-top: 32vh;
	}
	.atlet .runner{
		width: 100%;
	}
	.negr{
		width: 100%;
	}
	.team .girl{
		width: 100%;
	}
	.square{
		margin-left: 35vh;
	}
	.fon{
		position: absolute;
	}
	.text_atlet p{
		color: yellow;
	}
	.text_atlet2 p{
		color: yellow;
	}
	header h1{
		font-size: 70px;
	}
	header .lines{
		left: 210px;
    	height: 150px;
    	top: -499px;
	}
	.seto .center .lines {
		top: -100px;
		left: 420px;
		height: 150px;
	}
	.seto .center .lines2 {
		top: -235px;
		left: 225px;
	}
	.seto .logos {
		height: 75px;
		margin-left: 12%;
	}
	header h1{
		font-size: 45px;
	}
	
	.seto{
		max-height: 820px;
	}
}	

@media(max-width: 576px){
	header h1{
		font-size: 33px;
	}
	.container2 img{
		margin-left: auto;
		margin-right: auto;
		float: none;
		display: block;
		margin-top: 0;
		width: 100%;
	}
	.container3 img{
		margin-top: -86%;
    	width: 100%;
	}
	.container3 .block1 h2{
		margin-top: 94%;
	}
	.container2 .block1 h2{
		padding-left: 0;
		font-size: 55px;
	}
	.container2 .text_center{
		padding-left: 0;
	}
	.container2 .text_bottom{
		padding-left: 0;
	}
	.container2 .block3 .text_center{
		padding-left: 0;
	}
	.container2 .block3 .text_bottom1{
		padding-left: 0;
		
	}
	.seto .center h1{
		font-size: 33px;
	}
	.seto .logos {
		margin-top: 175px;
		height: 67px;
	}
	.container3 .block1 h2{
		font-size: 55px;
	}
	.container3 .text_center{
		font-size: 35px;
	}
	.container3 .text_bottom{
		font-size: 30px;
	}
	.container3 .text_center span{
		font-size: 25px;
	}
	.container3 .text_bottom1{
		font-size: 30px;
	}
	.seto .center .lines{
		top: -75px;
    	left: 335px;
    	height: 110px;
	}
	.seto .center .lines2{
		top: -175px;
		left: 207px;
		height: 85px;
	}
	.seto .center h1{
		margin-top: -60px;
	}
	.seto .buttons{
		margin-top: -100px;
	}
	.seto .center p{
		font-size: 14px;
		margin-top: -2px;
	}
	.text_atlet h2{
		margin-top: -18vh;
	}
	.atlet .fon .val{
		margin-top: 36vh;
	}
	.text_atlet{
		margin-top: 32vh;
	}
	.container2 .text_center{
		font-size: 35px;
	}
	.container2 .text_center span{
		font-size: 25px;
	}
	.container2 .text_bottom{
		font-size: 30px;
		padding-bottom: 13px;
	}
	.container2 .block1 h2{
		margin-top: 50px;
	}

	.container2 .text_center .white{
		font-size: 25px;
	}
	.container2 .block3 .text_bottom1{
		font-size: 30px;
	}
	.container2 .block3{
		height: 210px;
	}
}
@media(max-width: 530px){
	.square h3{
		margin: 22px;
	
	}
	.square{
		height: 70px;
		width: 70px;
		margin-left: 30vh;
	}
	header .logo{
		margin: 55px 28%;
	}
	header .right_text{
		margin: 0;
		text-align: center;
		float: none;
	}
	header .menu{
		display: grid;
	}
	header h1{
		font-size: 27px;
	}
	header .lines{
		left: 180px;
    height: 100px;
    top: -610px;
	}
	header .menu li a{
		font-size: 23px;
	}
	.end{
		flex-direction: column;
	}
	.end .right_text{
		margin-left: 23%;
	}
	.seto .buttons a:first-child{
		margin-right: 30px;
	}
	header .menu li{
		margin-top: 10px;
	}

}
@media(max-width: 425px){
	header h1 span{
		float: none;
	}
	header .logo{
		width: 35%;
		margin-top: 25px;
	}
	header .right_text{
		margin-top: 30px;
		font-size: 12px;
	}
	header h1{
		margin-top: 15vh;
	}
	header .buttons{
		margin-top: 20vh;
	}
	header{
		background-position-x: 45%;
	}
}

@media(max-width: 320px){
	header .buttons a{
		width: 170px;
		font-size: 10px;
	}
	header .buttons{
		margin-top: 5vh;
	}
	header .logo{
		margin: 20px 33%;
	}
	.atlet .runner{
		height: 43vh;
	}
	.square {
		margin-left: 20vh;
	}
	.seto .center h1{
		font-size: 20px;
		margin-top: -37px;
	}
	.seto .center p{
		font-size: 8px;
	}
	.seto .logos{
		height: 43px;
		margin-top: 110px;
	}
	.negr{
		height: 43vh;
	}
	.team .girl{
		height: 43vh;
	}
	.text_atlet p{
		font-size: 10px;
	}
	.text_atlet2 h2{
		font-size: 20px;
	}
	.text_atlet2 p{
		font-size: 10px;
	}
	.text_atlet h2{
		font-size: 20px;
	}
	.container3 .text_bottom{
		padding-right: 0;
	}
	.seto .buttons a{
		width: 130px;
		font-size: 9px;
	}
	.seto .center .lines2{
		height: 60px;
		top: -135px;
		left: 110px;
		
	}
	.seto .center .lines{
		top: -60px;
		left: 195px;
		height: 90px;
		width: 4px;
	}
	.seto .buttons .as{
		margin-left: 14px;
	}
	.seto .buttons .gp {
		margin-left: 66px;
	}
	header h1{
		margin-top: 6vh;
		font-size: 20px;
	}
	header .menu li{
		margin-top: 1px;
	}
	header{
		height: 100vh;
	}
	header h1 .two{
		margin-right: 0;
	}
	header .lines{
		width: 4px;
		left: 140px;
    	height: 85px;
    	top: -385px;
	}
	header .buttons .as{
		margin-left: 10px;
	}
	.container3 .block3 .center .bottom_p{
		padding-top: 10px;
	}
	.end .right_text{
		font-size: 10px;
	}
	footer .logo{
		margin-top: 20px;
		margin-left: 30px;
	}
	.square {
		margin-left: 36vh;
	}
	.container2 .text_bottom{
		font-size: 20px;
	}
	.container2 .block3 .text_bottom1{
		font-size: 20px;
	}
	header .menu li a{
		font-size: 15px;
	}
	.container3 .text_bottom{
		font-size: 20px;
	}
	.container3 .text_bottom1{
		font-size: 20px;
	}
}
